<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Documente online</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8"/>
        <link rel="icon" type="image/x-icon" href="imagini/favicon.ico">
    </head>
    <body>
        <header>
            <h1 id="titlu">Magazin online de documente</h1><br>
        </header>
        
        <main>
            <%- body %>
        </main>

        <footer>
            <hr>
            &#169;. Lungu Stefania (1310A) 2022. Programare web
        </footer>

    </body>
</html>