<% if (utilizator){ %>
        <fieldset>
            <button type="submit" onclick="window.location.href='/'">Pagina principala</button> •
            <button id="delogare" type="submit" onclick="window.location.href='/delogare'">Delogare</button>
        </fieldset>
<% } %>
<br/>
<fieldset>
    Ati raspuns corect la <%= raspunsuri %> intrebari! 
</fieldset>